.page {
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}

.viewport {
  display: flex;
  align-items: flex-start;
  justify-content: safe center;
  padding: 16px;
  overflow: auto;
  height: 100%;
  border: solid 1px var(--card-border);
  border-radius: 0 0 10px 10px;
  background-color: var(--element-bg);
  height: 70vh;
}

.header {
  padding: 24px;

  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}
