.button {
	border-radius: 6px;
	padding: 4px 16px;
	cursor: pointer;

	white-space: nowrap;
	width: fit-content;

	font-weight: 600;
}

.button:disabled {
	background-color: #6f6f6f;
	border: solid 1px #9f9f9f;

	cursor: not-allowed;
}

.primary {
	background-color: var(--button-primary-bg);
	color: var(--button-primary-color);
	border: none;
}

.secondary {
	background: var(--button-secondary-bg);
	color: var(--button-secondary-color);
	border: solid 1px var(--button-secondary-border);
}
