@import '@fontsource/inter/400.css';
@import '@fontsource/inter/600.css';
@import '@fontsource/inter/700.css';
@import '@fontsource/noto-serif/600.css';
@import '@fontsource/noto-sans-jp/300.css';
@import '@fontsource/noto-sans-jp/400.css';
@import './theme.css';

:root {
	color: var(--text);
	background-color: var(--bg);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	--selected-ocr-z-index: 1;
	--dict-tooltip-z-index: 2;

	transition:
		background-color 0.2s linear,
		color 0.2s linear;
}

body {
	margin: 0;
	padding: 0 5%;
	font-family: 'Inter', 'Noto Sans JP', sans-serif;
}
