:root {
	--bg: #faf9f5;

	/* app text */
	--text-accent: #031636;
	--text: #44474e;
	--text-label: #75777f;

	/* card */
	--element-bg: #ffffff;
	--card-border: #e5e5e1;

	/* analyze text */
	--analyze-text-color: #1b1c1a;
	--translation-button-color: #516351;

	/* pills */
	--pill-bk: #f4f4f0;
	--pill-color: #44474e;
	--pill-border: #c5c6cf;
	--pill-bk-selected: #e5cfcf;
	--pill-color-selected: #675555;
	--rect-pill-bk: #ffffff;
	--rect-pill-color: #031636;

	/* buttons */
	--button-primary-bg: #031636;
	--button-primary-color: #ffffff;

	--button-secondary-bg: transparent;
	--button-secondary-color: #1b1c1a;
	--button-secondary-border: #75777f;

	--button-danger-bg: #b91c1c;
	--button-danger-color: #ffffff;
	--button-danger-border: #b91c1c;

	/* japanese text */
	--j-text-selected-color: #c7c4d7;
	--j-text-selected-bg: #141b2d;

	/* dictionary tooltip */
	--dic-border: #e5e5e1;
	--dic-kanji: #ab5f12;

	/* error */
	--error: #b91c1c;
	--error-bg: #fef2f2;
	--error-border: #fca5a5;

	/* success */
	--success: #166534;

	/* pdf bar */
	--pdf-bar-bg: #031636;
}

.dark {
	--bg: #0f131c;

	/* app text */
	--text-accent: #c0c1ff;
	--text: #c7c4d7;
	--text-label: #c7c4d7;

	/* card */
	--element-bg: #141b2d;
	--card-border: #1e293b;

	/* analyze text */
	--analyze-text-color: #dfe2ef;
	--translation-button-color: #c0c1ff;

	/* pills */
	--pill-bk: #181b25;
	--pill-color: #c7c4d7;
	--pill-border: #464554;
	--pill-bk-selected: #8083ff;
	--pill-color-selected: #dfe2ef;
	--rect-pill-bk: #8083ff;
	--rect-pill-color: #fff;

	/* buttons */
	--button-primary-bg: #8083ff;
	--button-primary-color: #dfe2ef;

	--button-secondary-bg: transparent;
	--button-secondary-color: #dfe2ef;
	--button-secondary-border: #908fa0;

	--button-danger-bg: #ef4444;
	--button-danger-color: #ffffff;
	--button-danger-border: #ef4444;

	/* japanese text */
	--j-text-selected-color: #44474e;
	--j-text-selected-bg: #ffffff;

	/* dictionary tooltip */
	--dic-border: #c0c1ff;
	--dic-kanji: #feb367;

	/* error */
	--error: #fca5a5;
	--error-bg: #1f1010;
	--error-border: #7f1d1d;

	/* success */
	--success: #86efac;

	/* pdf bar */
	--pdf-bar-bg: #3a3a60;
}
