.result {
	padding: 24px;
}

.header {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}

.settings {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	column-gap: 24px;
}

.cardContent {
	padding: 0 5rem 3rem 5rem;
}

.paragraph {
	text-align: left;
}

.text {
	font-size: 1.3rem;
	text-align: left;
}

.prompt {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	gap: 20px;
	width: 100%;
}

.prompt > textarea {
	box-sizing: border-box;
	width: 100%;
	height: 6rem;
	resize: none;
	border: none;
	background-color: var(--element-bg);
	color: var(--text);
	border-radius: 10px;
	padding: 10px;

	font-size: 16px;
}

.prompt > textarea:focus {
	outline: 1px solid var(--card-border);
}

.submit {
	padding: 10px 20px;
}
