.paragraph {
	text-align: left;
}

.text {
	font-size: 1.3rem;
	text-align: left;
}

.prompt {
	margin-top: 120px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}

.prompt > textarea {
	width: 600px;
	height: 100px;

	font-size: 16px;
}

@media (max-width: 700px) {
	.prompt > textarea {
		width: 100%;
	}
}
